 body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
  }
  h1{
    font-size: 20px;
    margin-left: 0px;
  }
  .orange-color{
    color: orange;
  }
  .half-width img{
    width: 40%;
    display: 50%;
    margin-left: 20px;
  }
  .half-width{
    display: 50%;
    padding: 2%;
  }
  .flexible-container{
    display: flex;
    margin: 200px;
    font size :20px; 
  }
  .link-button{
    text-decoration: none;
    background-color:#FF6F52;
    padding: 10px 40px;
    border-radius: 5px;
    margin: 100px;
  }
  .ami{
    text-align: center;
    box-shadow: 10px 10px 40px  gray;
  }
  .pic img{
    width: 60%;
    display: 25%;
    box-shadow: 10px 10px 40px green;
  }
  .experience-area{
    display: 33%;
    display: flex;
    box-shadow: 10px 10px 40px green;
  }  

  .footer-style{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
  }

  

