* {
  margin: 0px;
  padding: 0px;
}

body{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}


header {
  padding: 20px;
  text-align: center;
}

.ad {
  height: 350px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.ad_left {
  width: 740px;
}

.ad_right {
  width: 250px;
}

.ad_right ul {
  list-style: none;
  font-size: 14px;
  line-height: 23px;
}

.product {
  height: 600px;
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  background-image: url('../img/product_title.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 10px;
  padding-top: 70px;
}

.product ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-content: center;
}

.product ul li {
  border: solid 1px white;
  width: 210px;
  line-height: 30px;
  text-align: center;
  margin: 5px;
  padding: 3px;
  cursor: pointer;
}

.product h5 {
  color: gray;
  text-align: left;
}

.product h4 {
  color: red;
  text-align: left;
}

.product ul li:hover {
  border: solid 1px orangered;
}
 
  h1{
    font-size: 20px;
    margin-left: 0px;
  }
  .orange-color{
    color: orange;
    border-radius: 50px;
  }
  .half-width img{
    width: 30%;
    display: 40%;
    margin-left: 200px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin: 20px;
  }
  .top-banner{
    display: flex;
  }
  .top-banner-flexible-container{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    border-bottom: 40px;

  }
  .half-width{
    display: 60%;
    padding: 2%;
  }
  .flexible-container{
    display: flex;
    margin: 200px;
    font size :20px; 
  }
  .link-button{
    text-decoration: none;
    background-color:#FF6F52;
    padding: 10px 40px;
    border-radius: 30px;
    margin: 20px;
    margin-top: 50px;

  }
  .ami{
    text-align: center;
    box-shadow: 10px 10px 40px  gray;
  }
  .pic img{
    width: 50%;
    display: 25%;
    border-radius: 40px;
    box-shadow: 10px 10px 40px green;
  }
  .experience-area{
    display: 33%;
    display: flex;
    box-shadow: 10px 10px 40px green;
  }  

  .footer-style{
    text-align: center;
    background-color: black;
    color: blanchedalmond;
  }

  

